# Local .terraform directories
**/.terraform/*
.terraform*
# .tfstate files
*.tfstate
*.tfstate.*
*.tfvars
.terragrunt-cache*
# Crash log files
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json